Very Simple
User types their name
User chooses rock, paper, & scissors
If user wins, it says user win
If cpu wins, it says cpu win
ROCK CRUSHES SCISSORS , SCISSORS CUTS PAPER , PAPER COVERS ROCK
Hope you enjoy
